/*
Jessica J. Hernandez
August 26, 2015
Design Patterns for Web Programming
201508-01 | Professor Wainman
Dynamic Site Assignment
*/

/* _____________________________________ */
/*              MAIN STYLES              */
/* _____________________________________ */

body {
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
    background: #fbfdff;
}

#container {
    width: 85%;
    margin: 0 auto;
}

#content {
    width: 70%;
    padding: 2% 3%;
    float: left;
    background: #edf0f5;
    margin-bottom: 25px;
}

header {
    text-align: center;
    margin: 0 0 25px 0;
    padding: 30px 0;
}

footer {
    width: 85%;
    margin: 0 auto;
    clear: both;
    text-align: center;
    padding: 25px 0;
    font-size: 80%;
    color: #58595b;
}

footer a, footer a:visited {
    color: #0084ff;
}



/* _____________________________________ */
/*              NAVIGATION               */
/* _____________________________________ */
nav {
    width: 20%;
    margin: 0 4% 5% 0;
    float: left;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 6% 5%;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid white;
    background: white;
}

nav ul a {
    color: #58595b;
    text-decoration: none;
}

li.active {
    background: #0063be;
    color: white;
    border-bottom: 3px solid #0063be;
}

li:hover {
    color: #0084ff;
    background: #bfe4ff;
    border-bottom: 3px solid #0084ff;
}



/* _____________________________________ */
/*           HEADINGS & TEXT             */
/* _____________________________________ */

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 300%;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #0084ff;
    text-shadow: 1px 1px 1px #58595b;
}

h1 a {
    text-decoration: none;
}

h1 a:visited {
    color: #0084ff;
}

p#sl_description {
    font-size: 115%;
    line-height: 1.5em;
}

#content hr {
    clear: both;
    border: none;
    border-bottom: 1px dotted #58595b;
}

#content h2 {
    font-size: 250%;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 2px dotted #58595b;
    color: #49b700;
    text-shadow: 1px 1px 1px #378700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

h3.element {
    color: #5d1d74;
}



/* _____________________________________ */
/*                IMAGES                 */
/* _____________________________________ */

img {
    max-width: 100%;
}

img.char_img {
    width: 33%;
    float: left;
    margin: 0 30px 30px 0;
}

img.element_img {
    width: 10%;
    vertical-align: middle;
    margin-right: 20px;
}



/* _____________________________________ */
/*               BUTTONS                 */
/* _____________________________________ */




.stats {
    width: 80%;
}

.stat {
    padding: 20px;
    background: red;
    margin-bottom: 10px;
}