/*
Jessica J. Hernandez
August 19, 2015
Design Patterns for Web Programming
201508-01 | Professor Wainman
Reusable Library Assignment
*/

/* _____________________________________ */
/*              MAIN STYLES              */
/* _____________________________________ */
body {
    position: relative;
    padding: 5px 0;
    background: #113A52;
    font-family: 'Lato', sans-serif;
}

#container {
    width: 50%;
    padding: 2% 4%;
    margin: 0 auto;
    background: white;
    border: 10px solid #eee;
    box-shadow: 0 0 80px #444; 
}

#content {

}

footer {
    font-weight: 300;
    font-size: 70%;
    text-align: center;
    margin-top: 20px;
    color: #eee;
    letter-spacing: 0.1em;
}



/* _____________________________________ */
/*           HEADINGS & TEXT             */
/* _____________________________________ */
h1 {
    font-weight: 900;
    text-align: center;
    font-size: 260%;
    margin-bottom: 0;
    color: #113A52;
    text-shadow: 1px 1px 3px #E5E5E5;
}

h2 {
    font-weight: 300;
    text-align: right;
    font-style: italic;
    font-size: 150%;
    margin: 5px 16px 15px 0;
    color: #00C3B6;
}

h3 {
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 130%;
    margin-bottom: 0;
}

h4 {
    font-weight: 300;
    text-align: center;
    margin-top: 5px;
}

form > p {
    margin: 0 0 5px 0;
    font-style: italic;
}

#mid {
    margin: 0 15px;
}


/* _____________________________________ */
/*                IMAGES                 */
/* _____________________________________ */
img {
    max-width: 100%;
}



/* _____________________________________ */
/*                 FORMS                 */
/* _____________________________________ */
form {
    background: #F7F7F7;
    width: 60%;
    margin: 0 auto;
    border: 3px solid #113A52;
    padding: 5%;
}

.form_group {
    width: 100%;
    margin-bottom: 8%;
}

form > .form_group {
    margin-top: 8%;
}

.form_group:last-child {
    margin: 0;
}

.backyard_option, .backyard_option input[type="radio"], .backyard_option p.radio-option {
    display: inline-block;
}

input[type="radio"], p.radio-option {
    margin-top: 0;
    margin-bottom: 0;
}

input[type="text"], input[type="number"] {
    width: 39%;
    margin: 0 7px;
    padding: 3%;
    border: none;
    font-size: 80%;
    border: 2px solid white;
    background: #FCFCFC;
    box-shadow: 0 1px 1px #777;
    color: #25C36E;
    letter-spacing: 0.08em;
}

input:focus {
    outline: none;
    border: 2px solid #00C3B6;
    background: white;
}

#radio_buttons  input[type="radio"] {
    margin: 5px 5px 5px 0;
}

label {
    font-weight: 400;
    color: #00C3B6;
}

#radio_buttons label {
    color: inherit;
    margin-right: 25px;
}

.inputs {
    margin-top: 8px;
}

input[type="number"].area {
    width: 40px;
    padding: 2% 3%;
}

.no {
    opacity: 0.4;
}



/* _____________________________________ */
/*               BUTTONS                 */
/* _____________________________________ */
.btn {
    padding: 3% 4%;
    background: #113A52;
    border: 3px solid #F7F7F7;
    color: white;
}

input[type="submit"].btn {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    margin: 6px 0 0 73%; 
}

.btn:hover {
    cursor: pointer;
    border-color: #00C3B6;
}