/*
Jessica J. Hernandez
August 19, 2015
Design Patterns for Web Programming
201508-01 | Professor Wainman
Reusable Library Assignment
*/

/* _____________________________________ */
/*              MAIN STYLES              */
/* _____________________________________ */
body {
    position: relative;
    padding: 5px 0;
}

#container {
    width: 60%;
    padding: 2% 4%;
    margin: 0 auto;
}



/* _____________________________________ */
/*           HEADINGS & TEXT             */
/* _____________________________________ */




/* _____________________________________ */
/*                IMAGES                 */
/* _____________________________________ */
img {
    max-width: 100%;
}



/* _____________________________________ */
/*                 FORMS                 */
/* _____________________________________ */
.form-group {
    width: 100%;
    margin-bottom: 1.5%;
}

.form-group:last-child {
    margin: 0;
}

.left-col {
    width: 25%;
    padding: 2.5%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    text-shadow: 0 2px 2px black;
}

.right-col {
    width: 64.5%;
    padding: 2.5%;
    display: inline-block;
    margin: 0;
}

.billing_option input[type="radio"], .billing_option p.radio-option,
.payment_option  input[type="radio"], .payment_option  p.radio-option {
    display: inline-block;
}

input[type="radio"], p.radio-option {
    margin-top: 0;
    margin-bottom: 0;
}

.input {
    width: 96%;
    padding: 2%;
    border: none;
    font-size: 80%;
    border: 2px solid white;
}

.input:focus {
    outline: none;
    border: 2px solid #fab55b;
}

.payment  input[type="radio"] {
    margin: 5px 5px 5px 0;
}

form label {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: white;
}



/* _____________________________________ */
/*               BUTTONS                 */
/* _____________________________________ */
.btn {
    padding: 2% 3%;
    background: none;
    border: 3px solid white;
    color: #fab55b;
}

input[type="submit"].btn {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    margin-left: 30px;
}

.btn:hover {
    cursor: pointer;
    background: rgba(255,255,255,0.2);
    border-color: #fab55b;
    text-shadow: 0 2px 2px black;
}